@import "tailwindcss";
@source "../../templates";

@variant dark (&:where(.dark, .dark *));

@theme {
    --color-text-50: oklch(var(--text-50));
    --color-text-100: oklch(var(--text-100));
    --color-text-200: oklch(var(--text-200));
    --color-text-300: oklch(var(--text-300));
    --color-text-400: oklch(var(--text-400));
    --color-text-500: oklch(var(--text-500));
    --color-text-600: oklch(var(--text-600));
    --color-text-700: oklch(var(--text-700));
    --color-text-800: oklch(var(--text-800));
    --color-text-900: oklch(var(--text-900));
    --color-text-950: oklch(var(--text-950));

    --color-background-50: oklch(var(--background-50));
    --color-background-100: oklch(var(--background-100));
    --color-background-200: oklch(var(--background-200));
    --color-background-300: oklch(var(--background-300));
    --color-background-400: oklch(var(--background-400));
    --color-background-500: oklch(var(--background-500));
    --color-background-600: oklch(var(--background-600));
    --color-background-700: oklch(var(--background-700));
    --color-background-800: oklch(var(--background-800));
    --color-background-900: oklch(var(--background-900));
    --color-background-950: oklch(var(--background-950));

    --color-primary-50: oklch(var(--primary-50));
    --color-primary-100: oklch(var(--primary-100));
    --color-primary-200: oklch(var(--primary-200));
    --color-primary-300: oklch(var(--primary-300));
    --color-primary-400: oklch(var(--primary-400));
    --color-primary-500: oklch(var(--primary-500));
    --color-primary-600: oklch(var(--primary-600));
    --color-primary-700: oklch(var(--primary-700));
    --color-primary-800: oklch(var(--primary-800));
    --color-primary-900: oklch(var(--primary-900));
    --color-primary-950: oklch(var(--primary-950));

    --color-secondary-50: oklch(var(--secondary-50));
    --color-secondary-100: oklch(var(--secondary-100));
    --color-secondary-200: oklch(var(--secondary-200));
    --color-secondary-300: oklch(var(--secondary-300));
    --color-secondary-400: oklch(var(--secondary-400));
    --color-secondary-500: oklch(var(--secondary-500));
    --color-secondary-600: oklch(var(--secondary-600));
    --color-secondary-700: oklch(var(--secondary-700));
    --color-secondary-800: oklch(var(--secondary-800));
    --color-secondary-900: oklch(var(--secondary-900));
    --color-secondary-950: oklch(var(--secondary-950));

    --color-accent-50: oklch(var(--accent-50));
    --color-accent-100: oklch(var(--accent-100));
    --color-accent-200: oklch(var(--accent-200));
    --color-accent-300: oklch(var(--accent-300));
    --color-accent-400: oklch(var(--accent-400));
    --color-accent-500: oklch(var(--accent-500));
    --color-accent-600: oklch(var(--accent-600));
    --color-accent-700: oklch(var(--accent-700));
    --color-accent-800: oklch(var(--accent-800));
    --color-accent-900: oklch(var(--accent-900));
    --color-accent-950: oklch(var(--accent-950));
}

:root {
    --text-50: 96.19% 0.001 17.18;
    --text-100: 92.30% 0.002 325.59;
    --text-200: 84.40% 0.003 345.22;
    --text-300: 76.34% 0.004 337.38;
    --text-400: 68.04% 0.005 345.35;
    --text-500: 59.51% 0.007 340.52;
    --text-600: 50.75% 0.006 345.45;
    --text-700: 41.64% 0.005 337.51;
    --text-800: 31.96% 0.003 345.41;
    --text-900: 21.50% 0.002 325.66;
    --text-950: 15.60% 0.003 325.70;

    --background-50: 97.47% 0.015 98.28;
    --background-100: 94.66% 0.028 98.07;
    --background-200: 89.42% 0.056 97.31;
    --background-300: 84.10% 0.084 98.08;
    --background-400: 78.84% 0.108 98.27;
    --background-500: 73.65% 0.126 97.96;
    --background-600: 62.55% 0.106 97.89;
    --background-700: 50.92% 0.085 97.78;
    --background-800: 38.59% 0.062 97.54;
    --background-900: 25.06% 0.035 98.76;
    --background-950: 17.63% 0.022 99.71;

    --primary-50: 96.77% 0.016 73.68;
    --primary-100: 93.43% 0.032 68.93;
    --primary-200: 86.97% 0.065 68.33;
    --primary-300: 80.67% 0.097 67.26;
    --primary-400: 74.51% 0.125 65.25;
    --primary-500: 68.99% 0.147 61.56;
    --primary-600: 58.44% 0.124 61.37;
    --primary-700: 47.71% 0.099 61.73;
    --primary-800: 36.20% 0.072 62.71;
    --primary-900: 23.70% 0.042 65.06;
    --primary-950: 16.84% 0.025 69.34;

    --secondary-50: 96.52% 0.014 67.66;
    --secondary-100: 92.93% 0.028 62.31;
    --secondary-200: 86.11% 0.057 63.49;
    --secondary-300: 79.12% 0.085 61.99;
    --secondary-400: 72.59% 0.114 60.98;
    --secondary-500: 66.21% 0.139 57.37;
    --secondary-600: 56.34% 0.116 58.02;
    --secondary-700: 45.83% 0.092 57.94;
    --secondary-800: 35.03% 0.067 59.10;
    --secondary-900: 22.94% 0.038 58.99;
    --secondary-950: 16.44% 0.022 62.10;

    --accent-50: 95.47% 0.023 34.30;
    --accent-100: 90.94% 0.046 34.73;
    --accent-200: 82.55% 0.096 35.89;
    --accent-300: 74.94% 0.150 36.23;
    --accent-400: 68.75% 0.198 36.04;
    --accent-500: 64.36% 0.234 33.36;
    --accent-600: 54.64% 0.196 33.77;
    --accent-700: 44.39% 0.157 34.22;
    --accent-800: 33.44% 0.113 35.39;
    --accent-900: 21.67% 0.067 38.71;
    --accent-950: 15.36% 0.041 49.71;
}

.dark {
    --text-50: 15.60% 0.003 325.70;
    --text-100: 21.50% 0.002 325.66;
    --text-200: 31.96% 0.003 345.41;
    --text-300: 41.64% 0.005 337.51;
    --text-400: 50.75% 0.006 345.45;
    --text-500: 59.51% 0.007 340.52;
    --text-600: 68.04% 0.005 345.35;
    --text-700: 76.34% 0.004 337.38;
    --text-800: 84.40% 0.003 345.22;
    --text-900: 92.30% 0.002 325.59;
    --text-950: 96.19% 0.001 17.18;

    --background-50: 17.63% 0.022 99.71;
    --background-100: 25.06% 0.035 98.76;
    --background-200: 38.59% 0.062 97.54;
    --background-300: 50.92% 0.085 97.78;
    --background-400: 62.55% 0.106 97.89;
    --background-500: 73.65% 0.126 97.96;
    --background-600: 78.84% 0.108 98.27;
    --background-700: 84.10% 0.084 98.08;
    --background-800: 89.42% 0.056 97.31;
    --background-900: 94.66% 0.028 98.07;
    --background-950: 97.47% 0.015 98.28;

    --primary-50: 16.84% 0.025 69.34;
    --primary-100: 23.70% 0.042 65.06;
    --primary-200: 36.20% 0.072 62.71;
    --primary-300: 47.71% 0.099 61.73;
    --primary-400: 58.44% 0.124 61.37;
    --primary-500: 68.99% 0.147 61.56;
    --primary-600: 74.51% 0.125 65.25;
    --primary-700: 80.67% 0.097 67.26;
    --primary-800: 86.97% 0.065 68.33;
    --primary-900: 93.43% 0.032 68.93;
    --primary-950: 96.77% 0.016 73.68;

    --secondary-50: 16.44% 0.022 62.10;
    --secondary-100: 22.94% 0.038 58.99;
    --secondary-200: 35.03% 0.067 59.10;
    --secondary-300: 45.83% 0.092 57.94;
    --secondary-400: 56.34% 0.116 58.02;
    --secondary-500: 66.21% 0.139 57.37;
    --secondary-600: 72.59% 0.114 60.98;
    --secondary-700: 79.12% 0.085 61.99;
    --secondary-800: 86.11% 0.057 63.49;
    --secondary-900: 92.93% 0.028 62.31;
    --secondary-950: 96.52% 0.014 67.66;

    --accent-50: 15.36% 0.041 49.71;
    --accent-100: 21.67% 0.067 38.71;
    --accent-200: 33.44% 0.113 35.39;
    --accent-300: 44.39% 0.157 34.22;
    --accent-400: 54.64% 0.196 33.77;
    --accent-500: 64.36% 0.234 33.36;
    --accent-600: 68.75% 0.198 36.04;
    --accent-700: 74.94% 0.150 36.23;
    --accent-800: 82.55% 0.096 35.89;
    --accent-900: 90.94% 0.046 34.73;
    --accent-950: 95.47% 0.023 34.30;
}
